@charset "utf-8";
.top {
  margin-top: 20px;
}

.label-top {
  margin-top: 5px;
}

.text-position {
  text-align: center;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.text-size-configuration {
  font-size:12px;
  color: #949697;
}

.link-color {
  color: #01a6a4;
}

.link-color:hover {
  color: #01bfbd;
}

body {
  font-family: 'PT Sans', Helvetica, Arial, YuGothic, 'Kozuka Gothic std', sans-serif;
  line-height: 1;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

.label-text {
  display: block;
  font-size: 12px;
  color: #545658;
}

.button {
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  transition: .3s;
  padding: 13px;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
}

.wrapper {
  width: 100%;
  padding: 32px 0;
  background-color: #f2f6f7;
}

.inner {
  margin: auto;
  width: 640px;
}

.main-contents {
  box-sizing: border-box;
  padding: 48px 64px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, .18);
}

.title-text {
  text-align: center;
  color: #545658;
  font-size: 24px;
}

.sns-subtext {
  margin-top: 8px;
}

.sns-button-contents {
  margin-top: 24px;
  display: flex;
}

.sns-button-content:last-child {
  margin-left: 8px;
}

.facebook-button {
  background-color: #3b5999;
  border-color: #3d5999;
  color: #fff;
}

.facebook-button:hover {
  background-color: #344e87;
  border-color: transparent;
}

.google-button {
  background-color: #fff;
  color: #dd4b39;
}

.google-button:hover {
  background-color: #f7f7f7;
}

.account-title-box {
  margin-top: 20px;
  position: relative;
  text-align: center;
}

.account-title-box::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  width: 100%;
  background-color: #ececec;
}

.account-title-text{
  display: inline-block;
  position: relative;
  padding: 0 10px;
  background-color: #fff;
}

.input-init {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  outline: none;
  resize: none;
}

.input-area {
  box-sizing: border-box;
  height: 36px;
  width: 100%;
  padding: 5px;
  color: #545658;
  font-size: 13px;
  line-height: 2;
  background-color: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
}

.input-area:focus {
  background-color: #fff;
  border-color: rgba(59, 133, 133, .4);
  box-shadow: 0 0 0 2px rgba(1, 191, 189, .1);
}
input, select {
  vertical-align: middle;
}

.select-area {
  position: relative;
}

.select-area::after {
  content: '';
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 45%;
  transform: rotate(45deg);
  height: 5px;
  width: 5px;
  border-right: 2px solid #d9d9d9;
  border-bottom: 2px solid #d9d9d9;
}

.alert {
  color: #dd4b39;
}

.name-box {
  display: flex;
}

.name {
  margin-left: 16px;
}

.name:first-child {
  margin-left: 0;
}

.gender-contents {
  display: flex;
  font-size: 16px;
  margin-top: 5px;
  color: #545658;
}

.gender-content {
  margin-left: 15px;
  cursor: pointer;
}

.gender-content:first-child {
  margin-left: 0;
}

.gender-content span {
  position: relative;
  display: inline-block;
  padding: 3px 3px 3px 20px;
}

.gender-content span::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 14px;
  width: 14px;
  background-color: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
}

.gender-content input, .course-contents input {
  display: none;
}

.gender-input:checked + span::after {
  content: '';
  position: absolute;
  left: 4px;
  top: 50%;
  height: 8px;
  width: 8px;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #01bfbd;
}

.origin-input:focus {
  background-color: #fbfbfb;
  border-color: #d9d9d9;
  box-shadow: initial;
}

.account-subtext {
  font-size: 12px;
  line-height: 16px;
}

.course-option:first-child {
  margin-top: 5px;
}

.course-option {
  color: #545658;
  font-size: 16px;
  margin-top: 10px;
}

.course-option-text {
  position: relative;
  padding-left: 25px;
}

.course-option-text::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  height: 15px;
  width: 15px;
  margin-top: -8px;
  border: 1px solid #d9d9d9;
}

.course-option input:checked + .course-option-text::after {
  content: '';
  position: absolute;
  left: 6px;
  top: 50%;
  transform: rotate(45deg);
  height: 16px;
  width: 8px;
  margin-top: -12px;
  border-right: 3px solid #01bfbd;
  border-bottom: 3px solid #01bfbd;
}

.remarks .input-area {
  height: 100px;
}

.account-button {
  padding: 13px;
  background-color: #01bfbd;
  color: #fff;
}

.account-button:hover {
  background-color: #01a6a4;
}

.account-button:active {
  background-color: #fff;
  color: #01a6a4;
  border: 1px solid #d9d9d9;
}

.footer-button {
  display: inline-block;
}

.footer-text-box{
  margin: 32px 0 8px 0;
}

.footer-text-box a:hover {
  box-sizing: border-box;
  border-bottom: 1px solid #ececec;
  border-bottom-color: #01bfbd;
}

.footer-text-box p:first-child {
 margin-top: 0;
}

.footer-text-box p, .footer-button {
  margin-top: 9px;
  line-height: 16px;
  font-size: 12px;
}